<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="XPO" value="4" />
    </switches>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <FileManager.Properties.Settings>
      <setting name="orahost" serializeAs="String">
        <value>192.168.0.11</value>
      </setting>
      <setting name="oraservis" serializeAs="String">
        <value>uyumtest</value>
      </setting>
      <setting name="argeklasor" serializeAs="String">
        <value>C:\temp</value>
      </setting>
      <setting name="oraport" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="branchid" serializeAs="String">
        <value>1010</value>
      </setting>
      <setting name="coid" serializeAs="String">
        <value>191</value>
      </setting>
      <setting name="userid" serializeAs="String">
        <value>2773</value>
      </setting>
      <setting name="mailhost" serializeAs="String">
        <value>**********</value>
      </setting>
      <setting name="mailport" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="mailuser" serializeAs="String">
        <value>*************</value>
      </setting>
      <setting name="mailpass" serializeAs="String">
        <value>***********</value>
      </setting>
      <setting name="sure" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="hedefklasor" serializeAs="String">
        <value>\\192.168.0.11\FileUploads</value>
      </setting>
      <setting name="test" serializeAs="String">
        <value>False</value>
      </setting>
    </FileManager.Properties.Settings>
  </userSettings>
</configuration>
